<div class="container mt-5">
  <h3><%= @list.name %> </h3>
  <ul>
    <% @list.movies.each do |movie| %>
      <li><%= movie.title %></li>
      <li><%= movie.overview %></li>
      <li><img src=<%= movie.poster_url %>></li>
      <hr></hr>
    <% end %>
  </ul>
  <%= link_to 'Create your bookmark', new_list_bookmark_path(@list) %>
  <%= link_to 'Back to all the lists', lists_path %>

</div>
