<div class="container mt-5">
  <% @list.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, crop: :fill %>
  <% end %>
  <h3><%= @list.name %> </h3>
  <div class="row my-2">
    <% @list.movies.each do |movie| %>
      <h5><%= movie.title %></h5>
      <h5><%= movie.overview %></h5>
      <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
    <% end %>
  </div>
  <%= link_to 'Create your bookmark', new_list_bookmark_path(@list) %>
  <%= link_to 'Back to all the lists', lists_path %>

</div>
